html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  box-sizing: border-box;
  padding: 0 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  box-sizing: border-box;
  height: 516px;
  position: relative;
  padding: 2rem 1.3rem;
}
.start img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.start .logo {
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  width: 6.88rem;
  height: 1.33rem;
}
.start #hamburger {
  position: absolute;
  top: 1.8rem;
  right: 1.3rem;
  z-index: 2;
}
.start h3 {
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces", serif;
}
.start h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
}
.start .arrow-icon {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translateX(-50%);
}
.start nav #navbar {
  display: none;
  position: absolute;
  width: 85%;
  left: 100%;
  z-index: 2;
  top: 5rem;
  list-style: none;
  padding: 1.5rem 0;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start nav #navbar.open {
  left: 50%;
  transform: translateX(-50%);
}
.start nav ul::before {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0;
  top: -1.4rem;
  width: 0;
  height: 0;
  border-bottom: 1.5rem solid hsl(0, 0%, 100%);
  border-right: 0px solid transparent;
  border-left: 1.5rem solid transparent;
}
.start nav li {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.start nav button {
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  font-size: 0.83rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.8rem;
  margin: 0.8rem 0;
}
@media screen and (min-width: 750px) {
  .start {
    height: 100vh;
    padding: 1.88rem 2.22rem;
  }
  .start h1 {
    font-size: 3.1rem;
  }
  .start .logo {
    width: 9.44rem;
    height: 2rem;
    top: 1.5rem;
    left: 2.22rem;
    transform: translateY(50%);
  }
  .start #hamburger {
    display: none;
  }
  .start nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }
  .start nav #navbar {
    position: initial;
    background-color: transparent;
    flex-direction: row;
    column-gap: 2.5rem;
    width: min-content;
    padding: 0;
    margin: 0;
  }
  .start nav #navbar li {
    margin: 0;
    font-size: 1rem;
    color: white;
  }
  .start nav #navbar button {
    background-color: white;
    margin: 0;
    cursor: pointer;
  }
  .start nav #navbar button:hover {
    background-color: hsla(0, 0%, 100%, 0.253);
    color: white;
  }
  .start .arrow-icon {
    top: 45%;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#transform h2 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin: 4rem 0 1.55rem 0;
}
#transform p {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.65rem;
  margin: 0;
  text-align: center;
}
#transform a {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 0.83rem;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1.55rem 0 3rem 0;
  position: relative;
  cursor: pointer;
}
#transform a::after {
  content: "";
  width: 110%;
  height: 0;
  border-top: solid 5px rgba(250, 212, 0, 0.25);
  border-bottom: solid 5px rgba(250, 212, 0, 0.25);
  border-radius: 8px;
  position: absolute;
  top: 70%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
#transform a:hover::after {
  content: "";
  width: 110%;
  height: 0;
  border-top: solid 5px hsl(51, 100%, 49%);
  border-bottom: solid 5px hsl(51, 100%, 49%);
  border-radius: 8px;
  position: absolute;
  top: 70%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 750px) {
  #transform {
    grid-column: 1;
    grid-row: 1;
    width: 70%;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
  }
  #transform h2 {
    font-size: 2.22rem;
    text-align: left;
  }
  #transform p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .container:nth-of-type(2) picture {
    grid-column: 2;
  }
}

#stand-out h2 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin: 4rem 0 1.55rem 0;
}
#stand-out p {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.65rem;
  margin: 0;
  text-align: center;
}
#stand-out a {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 0.83rem;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1.55rem 0 3rem 0;
  position: relative;
  cursor: pointer;
}
#stand-out a::after {
  content: "";
  width: 110%;
  height: 0;
  border-top: solid 5px rgba(254, 120, 103, 0.25);
  border-bottom: solid 5px rgba(254, 120, 103, 0.25);
  border-radius: 8px;
  position: absolute;
  top: 70%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
#stand-out a:hover::after {
  content: "";
  width: 110%;
  height: 0;
  border-top: solid 5px hsl(7, 99%, 70%);
  border-bottom: solid 5px hsl(7, 99%, 70%);
  border-radius: 8px;
  position: absolute;
  top: 70%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 750px) {
  #stand-out {
    width: 70%;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
  }
  #stand-out h2 {
    font-size: 2.22rem;
    text-align: left;
  }
  #stand-out p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

#design {
  position: relative;
  height: 600px;
  justify-content: flex-end;
  padding: 3.5rem 1.33rem;
}
#design img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#design h2 {
  color: hsl(167, 40%, 24%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin: 4rem 0 1.55rem 0;
  font-size: 1.55rem;
}
#design p {
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.65rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.88rem;
  font-weight: 600;
}
@media screen and (min-width: 750px) {
  #design p {
    width: 60%;
  }
}

#photography {
  position: relative;
  height: 600px;
  justify-content: flex-end;
  padding: 3.5rem 1.33rem;
}
#photography img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#photography h2 {
  color: hsl(198, 62%, 26%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin: 4rem 0 1.55rem 0;
  font-size: 1.55rem;
}
#photography p {
  font-family: "Barlow", sans-serif;
  color: hsl(198, 62%, 26%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.65rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.88rem;
  font-weight: 600;
}
@media screen and (min-width: 750px) {
  #photography p {
    width: 56%;
  }
}

#reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1.8rem;
}
#reviews h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.88rem;
  margin: 4rem 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: hsl(210, 4%, 67%);
}
#reviews blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.65rem;
  margin: 0;
  text-align: center;
  margin-bottom: 3rem;
  width: 350px;
}
#reviews img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
#reviews span {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
#reviews cite {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.78rem;
  color: hsl(210, 4%, 67%);
  font-style: normal;
}
@media screen and (min-width: 750px) {
  #reviews {
    padding: 7rem 0;
  }
  #reviews h3 {
    font-size: 1.11rem;
    margin: 0 0 4rem 0;
  }
  #reviews span {
    margin-top: 4rem;
  }
}

#gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 0;
}
#gallery picture {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 50%;
  height: 100%;
}
#gallery source {
  display: block;
  height: 0;
}
#gallery img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-style: none;
}
@media screen and (min-width: 750px) {
  #gallery picture {
    max-width: 25%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(168, 44%, 70%);
  padding-bottom: 0.8rem;
}
footer .logo {
  margin: 3rem 0 2rem 0;
  width: 9.4rem;
  height: 2rem;
}
footer ul {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3rem 0;
  padding: 0;
}
footer .logo-list {
  margin-top: 1rem;
  justify-content: center;
  column-gap: 10%;
}
footer li {
  font-size: 1rem;
  color: hsl(167, 34%, 41%);
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
footer li:last-child {
  margin-right: 0;
}
footer li:hover {
  color: white;
}
footer li:hover path {
  fill: white;
}
footer .attribution {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  margin: 0 0.8rem;
  font-size: 0.7rem;
}
footer .attribution a {
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 600;
}
@media screen and (min-width: 750px) {
  footer .logo {
    margin: 4rem 0 2rem 0;
  }
  footer ul {
    width: 20%;
    margin-bottom: 4rem;
  }
  footer .logo-list {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
