$soft-red: hsl(7, 99%, 70%);
$pale-soft-red: rgba(254,120,103,0.25);
$yellow: hsl(51, 100%, 49%);
$pale-yellow: rgba(250,212,0,0.25);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue : hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$font-size: 18px;
$headings-font-style: "Fraunces", serif;
$text-font-style: "Barlow", sans-serif;
$start-div-padding-top: 2rem;
$start-div-padding-left: 1.3rem;

@mixin sectionHeading($color) {
    color: $color;
    font-family: $headings-font-style;
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
    margin: 4rem 0 1.55rem 0;
}

@mixin text($color) {
    font-family: $text-font-style;
    color: $color;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.65rem;
    margin: 0;
    text-align: center;
}

@mixin learnMoreLinks {
    font-family: $headings-font-style;
    color: $very-dark-desaturated-blue;
    font-size: 0.83rem;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 1.55rem 0 3rem 0;
    position: relative;
    cursor: pointer;
    
}

@mixin linksUnderline($color) {
    content: "";
    width: 110%;
    height: 0;
    border-top: solid 5px $color;
    border-bottom: solid 5px $color;
    border-radius: 8px;
    position: absolute;
    top: 70%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

@mixin sectionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin backgroundImage{
    position: absolute;
    top:0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



html {
    font-size: $font-size;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

section {
    box-sizing: border-box;
    padding:  0 $start-div-padding-left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    box-sizing: border-box;
    height: 516px;
    position: relative;
    padding: $start-div-padding-top $start-div-padding-left;

    img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .logo {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        width: 6.88rem;
        height: 1.33rem;
    }

    #hamburger {
        position: absolute;
        top: 1.8rem;
        right: $start-div-padding-left;
        z-index: 2;
    }
    h3 {
        color: $white;
        font-family: $headings-font-style;
    }

    h1 {
        color: $white;
        font-family: $headings-font-style;
        text-transform: uppercase;
        margin-top: 6rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 900;
        letter-spacing: 0.4rem;
    }

    .arrow-icon {
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translateX(-50%);
    }

    nav {
        #navbar {
            display: none;
            position: absolute;
            width: 85%;
            left: 100%;
            z-index: 2;
            top: 5rem;
            list-style: none;
            padding: 1.5rem 0;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #navbar.open {
            left:50%;
            transform: translateX(-50%);
        }

        ul::before {
            content: "";
            z-index: 2;
            position: absolute;
            right: 0;
            top: -1.4rem;
            width: 0;
            height: 0;
            border-bottom: 1.5rem solid $white;
            border-right: 0px solid transparent;   
            border-left: 1.5rem solid transparent;      
        }

        li {
            color: $dark-grayish-blue;
            font-family: $text-font-style;
            font-weight: 600;
            font-size: 1.1rem;
            margin: 1rem 0;
        }

        button {
            background-color: $yellow;
            color: $very-dark-desaturated-blue;
            font-size: 0.83rem;
            font-family: $headings-font-style;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            border-radius: 2rem;
            padding: 1rem 1.8rem;
            margin: 0.8rem 0;
        }
    }

    @media screen and (min-width: 750px) {

            height: 100vh;
            padding: 1.88rem 2.22rem;

            h1 {
                font-size: 3.1rem;
            }

            .logo {
                width: 9.44rem;
                height: 2rem;
                top: 1.5rem;
                left: 2.22rem;
                transform: translateY(50%);
            }

            #hamburger {
                display: none;
            }
            nav {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                width: 100%;
                padding: 0;

                #navbar {
                    position: initial;
                    background-color: transparent;
                    flex-direction: row;
                    column-gap: 2.5rem;
                    width: min-content;
                    padding: 0;
                    margin: 0;

                    li {
                        margin: 0;
                        font-size: 1rem;
                        color: white;
                    }

                    button {
                        background-color: white;
                        margin: 0;
                        cursor: pointer;
                    }
                    button:hover {
                        background-color:hsla(0, 0%, 100%, 0.253);
                        color: white;
                    }
                }

            }

            .arrow-icon {
                top: 45%;
            }


      }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

img {
    @include sectionImage;
}

#transform {

    h2 {
        @include sectionHeading($color: $very-dark-desaturated-blue);
    }

    p {
        @include text($color:$dark-grayish-blue);
    }

    a {
        @include learnMoreLinks;
    }

    a::after {
        @include linksUnderline($color: $pale-yellow)

    }

    a:hover::after {
        @include linksUnderline($color: $yellow)
    }

    @media screen and (min-width: 750px) {
        grid-column: 1;
        grid-row: 1;
        width: 70%;
        align-items: flex-start;
        justify-content: center;
        margin: auto;

        h2 {
            font-size: 2.22rem;
            text-align: left;
        }

        p {
            text-align: left;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}

.container:nth-of-type(2){
    @media screen and (min-width: 750px) {

    picture{
        grid-column: 2;
    }
}
} 


#stand-out {
   
    h2 {
        @include sectionHeading($color: $very-dark-desaturated-blue);
    }

    p {
        @include text($color:$dark-grayish-blue);
    }

    a {
        @include learnMoreLinks;
    }

    a::after {
        @include linksUnderline($color: $pale-soft-red);

    }

    a:hover::after {
        @include linksUnderline($color: $soft-red)
    }

    @media screen and (min-width: 750px) {
        width: 70%;
        align-items: flex-start;
        justify-content: center;
        margin: auto;

        h2 {
            font-size: 2.22rem;
            text-align: left;
        }

        p {
            text-align: left;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

}

#design {

    position: relative;
    height: 600px;
    justify-content: flex-end;
    padding: 3.5rem 1.33rem;

    img {
        @include backgroundImage;
    }

    h2 {
        @include sectionHeading($color: $dark-desaturated-cyan);
        font-size: 1.55rem;
    }

    p {
        @include text($color: $dark-desaturated-cyan);
        line-height: 1.5rem;
        font-size: 0.88rem;
        font-weight: 600;
    }

    @media screen and (min-width: 750px) {
        p {
            width: 60%;
        }
    }
}

#photography {
    position: relative;
    height: 600px;
    justify-content: flex-end;
    padding: 3.5rem 1.33rem;

    img {
        @include backgroundImage;
    }

    h2 {
        @include sectionHeading($color: $dark-blue);
        font-size: 1.55rem;
    }

    p {
        @include text($color: $dark-blue);
        line-height: 1.5rem;
        font-size: 0.88rem;
        font-weight: 600;
    }

    @media screen and (min-width: 750px) {
        p {
            width: 56%;
        }
    }
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1.8rem;

    h3 {
        font-family: $headings-font-style;
        font-weight: 900;
        width: 100%;
        text-transform: uppercase;
        font-size: 0.88rem;
        margin: 4rem 1rem;
        text-align: center;
        letter-spacing: 0.2rem;
        color: $grayish-blue;
    }

    blockquote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include text($color: $very-dark-grayish-blue);
        margin-bottom: 3rem;
        width: 350px;

    }

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    span {
        margin-top: 2rem;
        font-size: 1rem;
        font-family: $headings-font-style;
        font-weight: 900;
        color: hsl(212, 27%, 19%)
    }

    cite {
        font-family: $text-font-style;
        font-weight: 600;
        font-size: 0.78rem;
        color: $grayish-blue;
        font-style: normal;
    }

    @media screen and (min-width: 750px) {
        padding: 7rem 0;

        h3 {
            font-size: 1.11rem;
            margin: 0 0 4rem 0;
        }

        span {
            margin-top: 4rem;
        }
    }

}

#gallery {

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0;

    picture {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 50%;
        height: 100%;
    }

    source{
        display: block;
        height: 0;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-style: none;
    }

    @media screen and (min-width: 750px) {
        picture {
            max-width: 25%;
        }
      }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(168, 44%, 70%);
    padding-bottom: 0.8rem;

    .logo{
        margin: 3rem 0 2rem 0;
        width: 9.4rem;
        height: 2rem;
    }

    ul {
        width: 80%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3rem 0;
        padding: 0;
    }

    .logo-list {
        margin-top: 1rem;
        justify-content: center;
        column-gap: 10%;
    }

    li{
        font-size: 1rem;
        color: hsl(167, 34%, 41%);
        margin-left: 0;
        font-family: $text-font-style;
        font-weight: 600;
        cursor: pointer;
    }

    li:last-child{
        margin-right: 0;
    }

    li:hover {
        color: white;

        path {
            fill: white;
        }
    }

    .attribution {
        color:hsl(167, 40%, 24%);
        font-family: $text-font-style;
        margin: 0 0.8rem;
        font-size: 0.7rem;

        a {
            text-decoration: none;
            color:hsl(212, 27%, 19%);
            font-family: $headings-font-style;
            font-weight: 600;
        }
    }

    @media screen and (min-width: 750px) {

        .logo {
            margin: 4rem 0 2rem 0;
        }

        ul {
            width: 20%;
            margin-bottom: 4rem;
        }

        .logo-list {
            width: 20%;
        }
    }

}